{:paths ["classes"
         "src/clj"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/core.async {:mvn/version "1.3.622"}
  com.climate/claypoole {:mvn/version "1.1.4"}
  org.clojure/core.cache {:mvn/version "1.0.217"}

  com.taoensso/timbre {:mvn/version "5.1.2"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.32"}
  ; tick/tick {:mvn/version "0.4.32"}

  org.lmdbjava/lmdbjava  {:mvn/version "0.8.2"}
  org.agrona/agrona {:mvn/version "1.12.0"}

  ; org.mariadb.jdbc/mariadb-java-client {:mvn/version "2.7.4"}

  ; software.amazon.awssdk/s3 {:mvn/version "2.17.46"}
  ; com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.12.77"}
  ; com.amazonaws/aws-java-sdk-batch {:mvn/version "1.12.77"}
  ;; this requires AWS SDK v1
  ; com.github.alexmojaki/s3-stream-upload {:mvn/version "2.2.2"}

  ; javax.xml.bind/jaxb-api {:mvn/version "2.4.0-b180830.0359"}
  ; org.glassfish.jaxb/jaxb-runtime {:mvn/version "3.0.2"}
  ; org.glassfish.jaxb/jaxb-core {:mvn/version "3.0.2"}

  com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.0"}
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
  org.apache.commons/commons-collections4 {:mvn/version "4.4"}
  org.apache.commons/commons-lang3 {:mvn/version "3.12.0"}
  joda-time/joda-time {:mvn/version "2.10.12"}
  badigeon/badigeon {:mvn/version "1.7"}
  fipp/fipp {:mvn/version "0.6.24"}
  cljfmt/cljfmt {:mvn/version "0.8.0"}}

 :aliases
 {:none
  {}

  :javac
  {:extra-paths ["build"]
   :extra-deps  {badigeon/badigeon {:mvn/version "1.7"}}
   :main-opts   ["-m" "build"]}

  :worker
  {:main-opts ["-m" "app.worker"]}

  :repl
  {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.27.1"}}
   :main-opts  ["-e" "(require,'app.core)"
                "-e" "(in-ns,'app.core)"
                "-m" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "-i"]}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
